# Port
PORT=500

# Signature JWT
JWT_SECRET="secret" 

# Utilisation de reCAPTCHA pour l inscription.
use_recaptcha=false # Pour activer reCAPTCHA, remplacez false par true
recaptcha_secret="yourRecaptchaSecret" # Obtenir une cle sur https://www.google.com/recaptcha/admin/create?hl=fr
recaptcha_site_key="yourRecaptchaKey" # Obtenir une cle sur https://www.google.com/recaptcha/admin/create?hl=fr

# Section e-mail (SMTP)
new_user_verification=true # Exiger qu un utilisateur se verifie pour utiliser l API
smtp_host="smtp-relay.brevo.com" # Hote SMTP
smtp_port=587 # Port SMTP
smtp_user="user" # Utilisateur SMTP
smtp_password="password" # Mot de passe SMTP
smtp_is_secure=false # Si votre port SMTP est 465, mettez ceci a true

# Limites de chaque utilisateur.
free_user_limit=50
premium_user_limit=10000
